//colors
$color-white: white;
$color-yellow: #FDCF4D;
$color-dark-gray: #333;
$color-gray: #777;
$color-blue: #3277ED;
$color-black: #333;
$color-red: #D94A38;
$color-green: #10A362;
$link: $color-blue;

//spacing
$spacing: 10px;