.contentType-Spotify {
    .controlls {
        width: 100%;
        height: 20%;
        text-align: center
    }
    input {
        display: block;
        width: 200px;
        margin: 0px auto;
        padding: $spacing;
    }
    iframe {
        display: blcok;
        width: 100%;
        height: 600px;
    }
}